<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
<p>Jeff B.</p>

<p>Different Data Science Tools and the Data Science Ecosystem are summarized in this notebook.</p>

<strong>Objectives:</strong>

<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>List open-source Data Science tools in a table</li>
    <li>Perform an arithmetic expression that multiples and then adds</li>
</ul>

<p>Some of the most popular coding languages Data Scientists use include the following:</p>

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
</ol>

<p>Some of the most popular libraries Data Scientists use include the following:</p>

<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>SciPy</li>
    <li>Matplotlib</li>
</ol>

|Data Science Tools|
|----|
|MySQL|
|PostgreSQL|
|Hadoop|

<h3>The examples below are a few examples of evaluating arithmetic expressions in Python</h3>

#This is an arithmetic expression that multiplies and then adds integers

In [6]:
print((3*4) + 5)

17

#This will convert 200 minutes to hours by dividing by 60

In [8]:
print(200 / 60)

3.3333333333333335